.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.idCard {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.idCard img {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.idCard div {
  display: flex;
  flex-direction: column;
}

.random {
  border: 1px solid #ccc; /* Borde sencillo */
  border-radius: 4px; /* Bordes ligeramente redondeados */
  padding: 8px; /* Espaciado interno */
  margin: 8px; /* Espaciado externo */
  max-width: 250px; /* Ancho máximo */
  text-align: center; /* Centrar el texto */
  font-size: 14px; /* Tamaño de fuente */
}

.greeting {
  border: 1px solid #ddd; /* Borde ligero */
  border-radius: 4px; /* Bordes suavemente redondeados */
  padding: 10px; /* Espaciado interno */
  margin: 8px 0; /* Espaciado vertical */
  font-size: 14px; /* Tamaño de letra */
  text-align: center; /* Centrar el texto */
  background-color: #f9f9f9; /* Fondo suave */
}

.centerText {
  text-align: center;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.creditCard {
  width: 300px;
  height: 180px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
